.container {
  padding: 0rem;
  .two {
    display: grid;
    grid-template-columns: 30% 1fr;
    color: white;
    .info {
      background: linear-gradient(to right, #2071e7, #00c3ff);
      padding-top: 2.7rem;
      border-right: #333 solid 2px;
      padding-left: 4rem;
      .tt {
        margin-left: 1.3rem;
        margin-bottom: 3rem;
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        margin-right: 4rem;
        text-decoration: overline;
      }
      .under {
        margin-top: 2rem;
        text-decoration: underline;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }
      .p {
        font-style: italic;
        margin-bottom: 0.8rem;
      }
      .reseaux1 {
        display: grid;
        grid-template-columns: 20% 1fr;
        .logo {
          height: 70px;
          padding-top: 1rem;
        }
        .txt_lg {
          font-family: cursive;
          margin-top: 2rem;
          font-style: oblique;
        }
      }
      .hc {
        height: 70px;
        margin-top: 2.5rem;
        .html {
          margin-left: 4.2rem;
        }
      }
    }
    .contact {
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .conta {
      color: #333;
      padding-left: 7rem;
      padding-bottom: 1rem;
      strong {
        color: rgb(251, 207, 28);
      }
    }

    .contact-form {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .contact-form input {
      background: #333;
      border: 0;
      border-bottom: 1px solid #555;
      padding: 1rem;
      font-size: 1.3rem;
      color: white;
      outline: 0;
      margin-bottom: 1rem;
    }

    .contact-form button {
      display: block;
      margin: 2rem auto;
      padding: 1rem 2rem;
      border: 0;
      border-radius: 30px;
      background: #2071e7;
      color: white;
      font-weight: 700;
      font-size: 1.3rem;
      cursor: pointer;
    }

    .contact-form button:hover {
      background: #333;
    }
  }
}
